* {
    margin: 0;
    padding: 0;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
.title {
    display: inline-block;
    width: 300px;
    height: 200px;
    padding: 5px 10px 15px 15px;
    border-width: 5px;
    border-style: solid dotted none dotted;
    border-color: green;
    margin: 10px 15px ;
}
.left{
    float: left;
    width: 200px;
    margin: 0 10px 10px 0;
}
.clearfix:after { 
    content: ""; 
    display: block; 
    clear: both; 
    visibility: hidden;
}
.text{
    display: block;
    width: 600px;
    height: 400px;
}
.right{
    float: right;
    width: 150px;
    margin: 5px;
}
